*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
header {
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn {
    height: 30px;
    width: 75px;
}

#grid {
    width: 500px;
    height: 500px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;

}

.cell{
    height: calc(100% / 8);
    flex-basis: calc(100% / 8);
    border: 2px solid white;
    cursor: pointer;
}

.cell.clicked {
background-color: lightskyblue;
}